#btn3 {
    width: 250px;
    height: 250px;
}
.red {
    background: red;
}
.violet{
    background: violet;
}

#btn5 {
    width: 150px;
    height: 150px;
    background: green;
}
#btn6 {
    width: 150px;
    height: 150px;
    background: yellow;
}
#btn7 {
    width: 150px;
    height: 150px;
    background: blueviolet;
}